:root {
  --tamanho: 3240px
  
}
 body{
  min-height: var(--tamanho);
 } 
#menu-h {
    background-color: rgb(32, 32, 32);
    
  }
  
      #menu-h ul {
    max-width: 100%;
    width:100%;
    list-style: none;
    padding: 0;
    list-style: none;
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 20px;
   background: rgba(0, 0, 0, 0.7);
   position: absolute;
   top: 0%;
   left: 0;
   z-index: 999;
   
  }
   
    
  
  
  
  #menu-h ul li {
    display: inline;
  }
  
  #menu-h ul li a {
    color: rgb(255, 255, 255);
    image-rendering: pixelated;
    padding: 1%;
    display: inline-block;
    text-decoration: none;
    
    
    
    
  }
  #menu-m {
    background-color: rgb(32, 32, 32);
    
  }
  
      #menu-m ul {
        max-width: 100%;
        width:100%;
        list-style: none;
        padding: 0;
        list-style: none;
       display: flex;
       justify-content: space-around;
       align-items: center;
       padding: 15px;
       background: rgba(0, 0, 0, 0.7);
       position: absolute;
       
       left: 0;
       z-index: 999;
       top: 59px;
       
       
  }
  
  
  #menu-m ul li {
    display: inline;
  }
  
  #menu-m ul li a {
    color: rgb(255, 255, 255);
    image-rendering: pixelated;
    padding: 1%;
    display: inline-block;
    text-decoration: none;
    
    
    
    
  }


  /*titulo/baner  */
  #fundo h1 {
 position: absolute;
 text-align: center;
 width: 100%;
 font-size: 100px;
 text-shadow: 0px 0px 7px rgb(100, 100, 100);
 color: rgb(0, 0, 0);
 top:367.2px;
}
 #fundo img{
 position: absolute;
 left: 34%;
 zoom: 167%;
 top: 7%;
  }
  #fundo2{
    position: absolute;
    width: 25%;
    top:615.6px;
    text-align: center;
  
  }    
  div { 
   display: flex;
   justify-content: center;
    
  }

  #fundosobre2{
    position: absolute;
    width: 25%;
    top:15%;
    text-align: center;
    left: 25%;
  }
  #fundosobre3{
    position: absolute;
    width: 25%;
    top:15%;
    text-align: center;
    left: 50%;
  }
  
  #fundosobre h1 {
    position: absolute;
    text-align: center;
     width: 100%;
     font-size: 100px;
     text-shadow: 0px 0px 7px rgb(100, 100, 100);
     color: rgb(0, 0, 0);
     top:25%;
  }
  #fundosobre img{
    position: absolute;
    width: 100%;
  }
  #imgsobre1{
    position: absolute;
    top:125%;
    left:15%;
    zoom: 20%;
  }

  /*corpo*/
   h2{
    position:absolute;
    text-align: center;
    width: 50%;
    top:1230px;
     zoom:100%;
     font-size: 50px;
    
    
  }
  .h3sdac{
  position:absolute;
    text-align: center;
    width: 100%;
    top:135%;
     zoom: 170%;
  }
  .materiaistitulos1{
   position: absolute;
    top: 1420px;
    width: 100%;
    left: 16%;
  }
  
  /*botoes*/
  .materiaistitulos1{
    position: absolute;
    text-decoration: none;
    padding: 0px;
    width: 15%;
    background-color: rgb(199, 97, 2);
    border: 2px solid rgba(17, 17, 17);
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    transition: 1500ms;
    bottom: unset;
    color: black;
  
  }
  .materiaistitulos1:hover{
    position: absolute;
   text-decoration: none;
   background-color: rgb(206, 160, 11);
   color: #000;
  }
  .materiaistitulos1 img{
    zoom: 70%;

  }

   
   /*botoes2*/
   .materiaistitulos2{
     position: absolute;
     text-decoration: none;
     padding: 0px;
     width: 15%;
     background-color: rgb(199, 97, 2);
     border: 2px solid rgba(17, 17, 17);
     border-radius: 20px;
     text-align: center;
     cursor: pointer;
     transition: 1500ms;
     bottom: unset;
     color: black;
   }
   .materiaistitulos2:hover{
     position: absolute;
    text-decoration: none;
    background-color: rgb(206, 160, 11);
    color: #000;
   }
   .materiaistitulos2 img{
     zoom: 31.2%;
 
   }
   .materiaistitulos2{
    position: absolute;
     top: 1420px;
     
     left: 43%;
   }
  /*botoes3*/
  .materiaistitulos3{
    position: absolute;
    text-decoration: none;
    padding: 10px;
    width: 15%;
    background-color: rgb(199, 97, 2);
    border: 2px solid rgba(17, 17, 17);
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    transition: 1500ms;
    bottom: unset;
    color: black;
    
  }
  .materiaistitulos3:hover{
    position: absolute;
   text-decoration: none;
   background-color: rgb(206, 160, 11);
   color: #000;
  }
  .materiaistitulos3 img{
    zoom: 27.5%;

  }
  .materiaistitulos3{
   position: absolute;
    top:1420px;
    
   right: 16%;
  }
  .materiaistitulos3P{
    position: absolute;
    text-decoration: none;
    padding: 0px;
    width: 15%;
    background-color: rgb(199, 97, 2);
    border: 2px solid rgba(17, 17, 17);
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    transition: 1500ms;
    bottom: unset;
    color: black;
    
  }
  .materiaistitulos3P:hover{
    position: absolute;
   text-decoration: none;
   background-color: rgb(206, 160, 11);
   color: #000;
  }
  .materiaistitulos3P{
   position: absolute;
    top: 145%;
    
   right: 16%;
  }
  .materiaistitulos4{
    position: absolute;
    text-decoration: none;
    padding: 0px;
    width: 15%;
    background-color: rgb(199, 97, 2);
    border: 2px solid rgba(17, 17, 17);
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    transition: 1500ms;
    bottom: unset;
    color: black;
  }
  .materiaistitulos4:hover{
    position: absolute;
   text-decoration: none;
   background-color: rgb(206, 160, 11);
   color: #000;
  }
  
  .materiaistitulos4{
   position: absolute;
    top: 170%;
    
    left: 16%;
  }
  .materiaistitulos5{
    position: absolute;
    text-decoration: none;
    padding: 0px;
    width: 15%;
    background-color: rgb(199, 97, 2);
    border: 2px solid rgba(17, 17, 17);
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    transition: 1500ms;
    bottom: unset;
    color: black;
  }
  .materiaistitulos5:hover{
    position: absolute;
   text-decoration: none;
   background-color: rgb(206, 160, 11);
   color: #000;
  }
  .materiaistitulos5 img{
    zoom: 31.2%;

  }
  .materiaistitulos5{
   position: absolute;
    top: 170%;
    
    left: 43%;
  }
  .materiaistitulos6{
    position: absolute;
    text-decoration: none;
    padding: 0px;
    width: 15%;
    background-color: rgb(199, 97, 2);
    border: 2px solid rgba(17, 17, 17);
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    transition: 1500ms;
    bottom: unset;
    color: black;
  }
  .materiaistitulos6:hover{
    position: absolute;
   text-decoration: none;
   background-color: rgb(206, 160, 11);
   color: #000;
  }
  .materiaistitulos6 img{
    zoom: 31.2%;

  }
  .materiaistitulos6{
   position: absolute;
   top: 170%;
    
   right: 16%;;
  }


  embed{
    position: absolute;
    top: 130%;
    width: 50%;
    height: 100%;
    
  }
 
  /*laterais*/
  .rightsidebar{
    position: absolute;
    background-color: rgba(32, 32, 32, 0);
    height: 200%;
    width: 15%;
    float: right;
    
  }
  
  
  
  


  /*rodapé*/
  footer {
    position: absolute;
    bottom: 0;
    background-color: rgb(32, 32, 32);
    color: #FFF;
    width: 100%;
    height: 30%;   
    text-align: center;
    line-height: 0vh;
    top: var(--tamanho);
    
}
 
.textoR{
  position: absolute;
  top: 90%;
  text-align: center;
  width: 100%;
}
  
.icones{
  position: absolute;
 top: 15%;
 width: 50%;
 zoom: 50%;
 justify-content: space-around;
 left: 25%;
 right: 25%;
 
}

   
   

/*cookies*/


/*-------------------media------------------------*/
@media only screen and (max-width: 768px) {
  nav#menu-h ul {
      flex-direction: column;
      
      color: #000;
  }
  nav#menu-h li {
      font-size: 24px;
      margin: 10px 0;
  }
  #fundo h1 {
      font-size: 48px;
      top: 50%;
  }
  #fundo2{
    top: 13%;  
  }
 footer{
  height: 20%;
 }
 .icones{
 zoom: 40%;
 
 
}
}
 @media only screen and (max-width: 1600px) {
  #fundosobre2{
    left:23%;
  }
  #fundosobre3{
    left:52%;
  }
  #menu-m ul {
    top: 7.5%;
  }
 }
 @media only screen and (max-width: 1366px){
  
   #fundo2{
    top: 65%;
  }
  h2{
    top: 130%;
  }
  .materiaistitulos1{
    top: 145%;
  }
  #fundosobre2{
    left:21%;
  }
  #fundosobre3{
    left:54%;
  }
  #menu-m ul{
    top: 9.6%;
  }
}