#menu-h {
    background-color: rgb(32, 32, 32);
    
  }
  
      #menu-h ul {
    max-width: 100%;
    width:100%;
    list-style: none;
    padding: 0;
    list-style: none;
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 15px;
   background: rgba(0, 0, 0, 0.7);
   position: absolute;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 999;
  }
    
    
  
  
  
  #menu-h ul li {
    display: inline;
  }
  
  #menu-h ul li a {
    color: rgb(255, 255, 255);
    image-rendering: pixelated;
    padding: 1%;
    display: inline-block;
    text-decoration: none;
    
    
  }

  /*titulo/baner  */
  #fundo h1 {
 position: absolute;
text-align: center;
 width: 100%;
 font-size: 100px;
 text-shadow: 0px 0px 7px rgb(100, 100, 100);
 color: rgb(0, 0, 0);
 top:34%;
}
  #fundo img{
 position: absolute;
 left: 34%;
 zoom: 167%;
 top: 7%;
  }
  #fundo2{
    position: absolute;
    width: 25%;
    top:57%;
    text-align: center;
  
  }    
  div { 
   display: flex;
   justify-content: center;
    
  }

  #fundosobre2{
    position: absolute;
    width: 25%;
    top:15%;
    text-align: center;
    left: 25%;
  }
  #fundosobre3{
    position: absolute;
    width: 25%;
    top:15%;
    text-align: center;
    left: 50%;
  }
  
  #fundosobre h1 {
    position: absolute;
    text-align: center;
     width: 100%;
     font-size: 100px;
     text-shadow: 0px 0px 7px rgb(100, 100, 100);
     color: rgb(0, 0, 0);
     top:25%;
  }
  #fundosobre img{
    position: absolute;
    left: 34%;
    zoom: 167%;
  }

  /*corpo*/
  h2{
    position:absolute;
    text-align: center;
    width: 50%;
    top:120%;
     zoom: 170%;
    
  }
  /*laterais*/
  .rightsidebar{
    position: absolute;
    background-color: rgba(32, 32, 32, 0);
    height: 200%;
    width: 15%;
    float: right;
    
  }
  
  
  


  /*rodapé*/
  footer {
    position: absolute;
    bottom: 0;
    background-color: rgb(32, 32, 32);
    color: #FFF;
    width: 100%;
    height: 10%;    
    text-align: center;
    line-height: 10vh;
    top: 200%;
}
/*cookies*/


/*--------------------------------------------*/
@media only screen and (max-width: 768px) {
  nav#menu-h ul {
      flex-direction: column;
      
      color: #000;
  }
  nav#menu-h li {
      font-size: 24px;
      margin: 10px 0;
  }
  #fundo h1 {
      font-size: 48px;
      top: 50%;
  }
  #fundo2{
    top: 13%;  
}
 footer{
  height: 20%;
 }
}